<style>
    #footer {
        position: absolute;
        margin-bottom: 0px;
        height: 100px;
        width: 100%;
        font-size: 2rem;
        line-height: 100px;
        background:lightblue;
        text-align: center;
    }
</style>
<div id="footer"> www.iechenyb.com @c ,the footer definded by iechenyb!</div>-
<!--<div class="am-g" style="background-color: #0c7cb5;margin-bottom: 0px">
    <div class="am-u-sm-12" style="border:0px gray solid;text-align:center;font-size: 2rem">
        www.iechenyb.com @c ,the footer definded by iechenyb!
    </div>
</div>-->

