
<div class="am-g" style="border:0px red solid">
    <div class="am-u-sm-1">&nbsp;</div>
    <div class="am-u-sm-8">
        <a target="_self" href="../../#/home"><i style="display: block;margin:20px;"><img src="../../img/logo.png"  height="50rem"/></i></a>
    </div>
    <div class="am-u-sm-3">
        <a href="#doc-oc-demo1" data-am-offcanvas>
         <i class="am-icon-reorder am-icon-sm" id="offcanvasbtn" data-am-offcanvas="{target: '#id'}" style="display: block;margin-top:40px;"></i>
        </a>
    </div>
</div>
<!--单冒号(:)用于CSS3伪类，双冒号(::)用于CSS3伪元素。-->
<style>
    span a:link {color: #FF0000;text-decoration:none; } /* 未访问的链接 */
    span a:visited {color: #00FF00;text-decoration:none; } /* 已访问的链接 */
    span a:hover {color: #FF00FF} /* 鼠标移动到链接上 */
    span a:active {color: #0000FF} /* 选定的链接 */
    span a{
        position: relative;
        display: inline-block;
        outline: none;
        text-decoration: none;
        color: #000;
        font-size: 32px;
        padding: 5px 10px;
        text-decoration:none;
    }
    span a:hover::before, span a:hover::after { position: absolute;  text-decoration:none;}
    span a:hover::before { content: "\5B"; left: -2px; }
    span a:hover::after { content: "\5D"; right:  -2px; }
</style>
<!-- 链接触发器， href 属性为目标元素 ID -->
<!-- 侧边栏内容 -->
<div id="doc-oc-demo1" class="am-offcanvas" style="opacity: 0.8;">
    <div class="am-offcanvas-bar">
        <div class="am-offcanvas-content" style="margin-top: 15rem">
            <div ui-sref-active="active" ng-repeat="menu in menus" style="text-align: center;font-size: 2rem">
                <span>
                    <a href="../../{{menu.href}}" id="menu">{{menu.name}}</a>
                </span>
            </div>
        </div>
    </div>
</div>